body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
}

header {
  background-color: #2E8B57;
  color: white;
  border-bottom: 5px solid red; 
  padding: 10px 20px;
   
}

.top-line {
  height: 4px;
  background-color: #2E8B57; 
  width: 80%;
  margin: 10px auto;
  border-bottom: 3px solid red; 
  border-radius: 2px;
}

}

img {
  display: block;
  margin-top: 10px;
  border-radius: 8px;
}

footer {
  background-color: #2E8B57;
  color: white;
  text-align: center;
  border-top: 5px solid red;
  padding: 10px;
}
